

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="/KOTC-Head.png" style="width:80px;height:80px; align-item: right;">
    </div>
    <div class="navbar-header">
      <h2 href="#" style="padding-left: 30px; color:white;">King Of The Code</h2>
    </div>
  </div>
</nav>

<div style="margin-top:60px;" class=".container-fluid">
<div class="row">

<div class="col-md-3">
</div>

<div class="col-md-6" style="background-color: #FFF; padding:30px; border-radius: 15px;">
<div >
<h1>{{title}}</h1>

  <table class="table table-striped">
    <thead>
      <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr></thead>
    <tbody>
      <tr *ngFor="#item of leaderboard; #i=index">
        <td>
          <img style="border-radius: 50%; height:75px; wdth: 75px;" src="{{item.avatar_url}}">
        </td>
        <td><div class="leaderboard-username">{{item.user_name}} </div>

        </td>
        <td>
          <img *ngIf="i==0" src="/KOTC-Gold.png" style="height:75px; wdth: 75px;">
          <img *ngIf="i==1" src="/KOTC-Silver.png" style="height:75px; wdth: 75px;">
          <img *ngIf="i==2" src="/KOTC-Bronze.png" style="height:75px; wdth: 75px;">
        </td>
        <td  id="score">
          <div style="width: 50%; margin-left: 33%;">
            <div [ngClass]="{'positive': item.points.toString().indexOf('-') == -1 , 'negative': item.points.toString().indexOf('-') > -1 } ">{{item.points}}</div>
          </div>

        </td>
      </tr>
    </tbody>
  </table>

  <router-outlet></router-outlet>
</div>

<div class="col-md-3">
</div>




</div>
</div>
</div>
